<div class="custom-container custom-overflow" style="font-size: 16px; margin-top:1%; direction:rtl; max-width: 650px; text-align:right;">
<h2><i ng-bind="langObj.privpolic"></i></h2>
<h3>אבטחת מידע</h3>
לתרום בביטחון זה אנחנו! <br>
מחצית השקל עושה כל מאמץ על מנת להבטיח למשתמשים
ביטחון ואבטחה בעת שימוש באתר!<br> 
אתר מחצית השקל משתמש בתקני אבטחה מחמירים על מנת לשמור על פרטיותך וביטחונך. <br>
סליקת תשלומי התרומה באתר מתבצעים באמצעות חברת טרנזילה שירותי סליקה מקבוצת אינטר ספייס שהיא חברת סליקה באינטרנט המובילה בישראל.  <br>
מערכת הסליקה של טרנזילה מאובטחת ברמה הגבוהה ביותר לפי תקן  PCI DSS Level 1.<br>
כצעד נוסף של אבטחה באתר מופעל פרוטוקול https (המנעול הקטן בשורת הכתובת) שמאפשר חיבור מאובטח בין השרת לבין הדפדפן, משמעות הדבר היא שכל מידע העובר בין השרתים שלנו לבין המשתמשים הוא מוצפן. <br>
 מחצית השקל אינה שומרת באתר את פרטי כרטיס האשראי שלכם!<br>
<h3> מדיניות פרטיות</h3>
<p> בעת שימוש באתר נשמרים במאגר המידע שלנו שמך וכתובת האימייל שלך. <br>
זהו המידע שאתה מוסר לנו ביודעין בעת הרשמתך לאתר או באמצעות כניסה עם משתמש הפייסבוק שברשותך. <br>
כמו כן במהלך פעילותך באתר ישמר מידע הקשור לפעילותך באתר פרטים אלה נשמרים בביטחון מרבי. <br>
מחצית השקל רשאית לפנות אליך אך ורק לצורך עדכוני חשבון ושיפור המוצר. <br>
<h3> שימוש ב - Cookies </h3>
האתר מחצית השקל משתמש ב"עוגיות" (Cookies) על מנת למנוע ממשתמשים את הצורך להתחבר לחשבונם בכל כניסה מחדש. <br>
אם ברצונך לבטל אפשרות זאת דפדפנים מודרניים כוללים אפשרות להימנע משמירת Cookies.<br>
</div>
